<ion-view title="Edit" id="page9">
  <ion-content padding="true" class="has-header">
    <h1 id="edit-heading12" style="color:#000000;">Edit Your Profile</h1>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="edit-form9" class="list">
      <label class="item item-input" id="edit-input19">
        <span class="input-label">Description</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="edit-input18">
        <span class="input-label">Phone Number</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-input" id="edit-input17">
        <span class="input-label">Venmo</span>
        <input type="text" placeholder="">
      </label>
      <button id="edit-button18" class="button button-positive button-block">Save</button>
    </form>
  </ion-content>
</ion-view>