<ion-view title="My Cars" id="page4" ng-app="app" ng-controller="myCarCtrl">
  <ion-content padding="true" class="has-header">
    <div class="row responsive-sm">
      <div class="col">
        <input type="text" placeholder="From" ng-model="find.from">
      </div>
      <div class="col">
        <input type="text" placeholder="To" ng-model="find.to">
      </div>
      <div class="col">
        <input type="text" placeholder="When" ng-model="find.when">
      </div>
    </div>
    <ion-list id="available-list2">
      <!-- ui-sref="tabsController.example()" -->
      <ion-item ng-repeat="item in items | filter : find" ng-click="goToState(item)">
        Leaving at {{item.when}} - {{item.from}} to {{item.to}}
      </ion-item>
    </ion-list>
    <!-- <h1 id="available-heading5" style="color:#000000;">Can't find one?</h1>
    <a ui-sref="tabsController.create()" id="available-button8" class="button button-positive button-block">Create!</a> -->
  </ion-content>
</ion-view>
